@font-face {
  font-family: "ShadowedBlack";
  src: local("ShadowedBlack"), 
  url(../fonts/Shadowed_Black_Wide.otf) format("truetype");
}
@font-face {
  font-family: "Bellerose";
  src: local("Bellerose"), 
  url(../fonts/Bellerose.otf) format("truetype");
}

body {
  background: linear-gradient(180deg, #1B1A18 0%, #252422 100%);
}

a,
b,
h5,
h6,
i,
p {
  color: #606060;
  font-family: "Bellerose";
}
